#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#

#sdk use java 11.0.26-librca

#export MK_IMAGE_PUSH_TARGET="config-consumer-service:k8.1"

export MK_IMAGE_PUSH_TARGET="config-consumer-service:0.0.5-SNAPSHOT"
export MK_IMAGE_PUSH_TARGET_PREFIX="ericm24"
