#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#


export MK_IMAGE_PUSH_TARGET="config-consumer-service:0.0.7-SNAPSHOT"
export MK_IMAGE_PUSH_TARGET_PREFIX="ericm24"
export MK_IMAGE_PUSH_SKIP_MINIKUBE="true"
#export MK_IMAGE_PUSH_SKIP_DOCKER_HUB="true"
