#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#

#sdk use java 11.0.26-librca

export MK_IMAGE_PUSH_TARGET="config-consumer-service:k8"
export MK_IMAGE_PUSH_TARGET_PREFIX="ericm24"

eme MK_IMAGE